.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


 /* Cards.css */

 .cborder {
  border: 1px solid rgba(0, 0, 0, 0.267);
  border-radius: 10px;
}
.img {
  background-color: rgba(133, 128, 128, 0.514);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.addtoc {
  padding: 7px 12px;
  border: 1px solid black;
  background-color: white;
  border-radius: 5px;
}
.addtoc:hover {
  border: 1px solid rgb(255, 255, 255);
  background-color: rgb(0, 0, 0);
  color: white;
  cursor: pointer;
}
.addtoc:disabled{
  background-color: rgb(0, 0, 0);
  color: white;
}
.noofitems{
  border-radius: 50%;
}
img,h3,h5{
  padding-bottom: 15px;
}
.brand{
  font-size: 50px;
}
@media (min-width: 990px) {
  .padd{
    padding: 50px 80px;
  }
}
@media (max-width: 600px) {
  h3,h5{
    font-size: 12px;
  }
  .display-1{
    font-size: 25px;
    font-weight:normal;
  }
  .mutdis{
    font-size: 8px;
  }
}
@media (max-width: 350px) {
  .addtoc {
    padding: 2px ;
  }
}

/* cardmodal.css */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.75);
}
.cart{
  position: fixed;
  top: 20vh;
  left: 25%;
  width: 50%;
  max-height:50%;
  background-color: white;
  padding: 1rem;
  border-radius: 14px;
  z-index: 20;
  overflow:scroll;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
}
.close{
 padding: 5px 50px;
 border: none;
 border-radius: 5px;
}
@media (max-width: 500px) {
    .cart{
      left: 12%;
      width: 75%;
    }
}

/* Cartitems.css */

.cart-item {
  display: flex;
  justify-content: space-between;
  align-items: center !important;
  padding: 1rem 0;
  margin: 1rem 0;
}
.price {
  font-weight: italic;
  color: #8a2b06;
}
.btn-danger {
    border: none;
    margin-right: 20px;
    padding: 5px 20px;
    border-radius: 5px;
}
@media (max-width: 780px) {
  .cart-item h2, .cart-item h4{
    font-size: 15px;
  }
}